<%= simple_form_for current_user do |f| %>
  <%= f.error_notification %>
  <% if current_user.agreement_accepted? %>
    <%= render 'profile', :user => github_user.user %>
    <div class='field'>
      <%= f.input :bitcoin_address %>
    </div>
    <%= f.submit t('actions.update') %>
  <% else %>
    <%= f.input :agreement_accepted, label: t('title.agree_to_terms')  %>
    <%= f.submit t('actions.accept') %>
  <% end %>
<% end %>

