<h2><%= t('titles.my_organizations') %></h2>
<%= t('organizations.heading') %>
<% github_user.joined_organizations.each do |organization| %>
  <div class='field'>
    <% if organization.new_record? %>
      <%= simple_form_for organization do |f| %>
        <%= f.submit t('actions.participate')  %>
        <%= f.label organization.name %>
        <%= f.input :name, as: :hidden, input_html: {value: organization.name } %>
        <%= f.input :github_id, as: :hidden, input_html: {value: organization.github_id } %>
      <% end %>
    <% else %>
      <%= link_to organization.name, organization %>
      <% if organization.users.blank? %>
        <%= link_to t('actions.revoke'), organization_path(organization), method: :delete, alert: "Are you sure" %>
      <% end %>
      <span class='font-09em'><%= organization.contributors_count %></span>
    <% end %>
  </div>
<% end %>
