<div id='organization' >
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Github Handle</th>
        <th>Bitcoin Address</th>
        <th>Date Joined</th>
      </tr>
    </thead>
    <tbody class='list'>
      <%- @organization.users.each do |user| %>
        <% org_user = user.organization_users.where(:organization_id => @organization.id).first %>
        <tr>
          <td class='name'> <%= user.name %> </td>
          <td> <%= user.name %> </td>
          <td> <%= user.bitcoin_address %> </td>
          <td> <%= org_user.created_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <ul class="pagination"></ul>
</div> 

<%= javascript_tag do %>
  var options = {
    valueNames: ['name'],
    page: 10,
    plugins: [ ListPagination({}) ] 
  };

  new List('organization', options);
<% end %>
